@import 'core/reset';

.all{
    background-color: violet;
}

.cards__quote{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
   font-weight: bolder;
   width: 300px;
}

.cards__character{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
   font-weight: bolder;
    width: 300px;
    color: green;
}

.cards{
    display: flex;
    flex-direction: row;
}