@import 'core/reset';

.all{
    background-color: violet;
}

.cards{
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
}